<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WebSiteRoot" value="http://dev.appstract.dk" />
		<add key="UserName" value="zzt" />
		<add key="Password" value="!QAZxsw2" />
		<add key="ImplicitWaitMilliseconds" value="500" />
		<add key="FirefoxEnabled" value="false"/>
		<add key="ChromeEnabled" value="true"/>
		<add key="EdgeEnabled" value="false"/>
		<add key="InternetExplorerEnabled" value="false"/>
	</appSettings>
</configuration>